*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 80px;
    width: 100%;
    background-color: #2f4858;
    font-size: 20px;
    color: #55dde0;
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 20px; */
    position:sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    float: left;
}
.logo span{
    color: #f18f01;
}
.nav1{
    /* float: right; */
    width: 40%;
    margin-right: 10px;
}
.nav1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav1 ul li{
    list-style: none;
    /* display: inline-block;
    padding-right: 20px;
    padding-top: 10px; */
}
.nav1 a{
    text-decoration: none;
    color: #55dde0;
    text-transform: capitalize;
}
.nav1 a:hover{
    color: white;
}
main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #5b3000;
    background-image: url(img/pizza.png);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items:flex-start;
}
.call{
    background-color: #2f4858;
    padding: 20px;
    /* float: right; */
    max-width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 400px;
    margin-top: 50px;
    border-radius: 5px;
}
.call h1{
    color: #f18f01;
    text-align: center;
}
.call p{
    margin-bottom: 15px;
    color: white;
}
.call a{
    height: 15px;
    width: 80px;
    padding: 10px;
    background-color: #51a7dc;
    color: #2f4858;
    border-radius: 5px;
    text-decoration: none;
}
.call a:hover{
    color: white;
}
h2{
    color: white;
    text-align: center;
    background-color: #2f4858;
}
section{
    height: 850px;
    width: 100%;
    background-color: #f18f01;
    color: white;
}
.sec1{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.caja{
    height: 120px;
    width: 120px;
    background-color: #2f4858;
    border: solid 2px white;
    text-align: center;
    font-size: 20px;
}
.caja2{
    order: 3;
}
.caja3{
    order: -1;
}
footer{
    min-height: 100px;
    background-color: #2f4858;
    padding: 30px;
}
footer i{
    color: #f18f01;
}